.pics{
    display: flex;
    width: 100%;
}

.internpic{
    max-height: 80vh;
    width: fit-content;
    margin: auto;
    border: solid #1a438b 10px;
    margin-top: 5vh;

}

.sectionTitle{
    padding-top: 8  vh;
}

#ourProgress{

    margin-top: 4vh;

}

.row{
    display: grid;
    grid-template-columns: repeat(6, 16.6%);
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    width: min(100%, 1320px);
    padding-top: 2em;
    margin: auto;
    padding-bottom: 4em;
}

.statistics h4{

    width: 200px;
    height: 200px;

    padding: 0;
    line-height: 185px;
    margin: auto;

}

.money{

    background-color: transparent;
    border: none;

}

.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics h4:hover{
    pointer-events: none;
}

p{

    color: #1a438b;
    text-align: center;

}

.mail{
    color: #1a438b;
}

@media screen and (max-width: 1000px){
    .row{
        grid-template-columns: repeat(1, 100%);
    }
  }

