.pics{
    display: flex;
    width: 100%;
}

.internpic{
    width: min(100%, 800px);
    height: auto;
    margin: auto;
    border: solid #1a438b 10px;
    margin-top: 5vh;

}

p{

    color: #1a438b;
    text-align: center;

}

.ourProgress p{
    color: white;
}

.sectionTitle{
    padding-top: 4vh;
}

#about {
    color: white;
}

.icons{
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.item p{
    width: 300px;
    color: #1a438b;
    text-align: center;
    margin-top: -50px;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.ic{
    width: 200px;
}

.row{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    width: min(100%, 1320px);
    padding-top: 2em;
    margin: auto;
    padding-bottom: 4em;
}

.statistics h4{

    width: 200px;
    height: 200px;

    padding: 0;
    line-height: 185px;
    margin: auto;

}

.money{

    background-color: transparent;
    border: none;

}

.statistics{
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics h4:hover{
    pointer-events: none;
}

.video{
    display: flex;
    flex-wrap: wrap;
    background-color: #1a438b;
    justify-content: center;
    align-items: center;
}

.viddesc{
    text-align: left;
    width: 500px;
    margin: 15px;
    margin-top: 10vh;
}

.viddesc h1{
    color: white;
    font-family: 'Outfit', sans-serif;
}

.viddesc p{
    color: white;
    font-family: 'Outfit', sans-serif;
    text-align: left;
    margin-top: -20px;
}

.embed-responsive-item{
    width: 500px;
    height: 278px;
}




.mail{
    color: #1a438b;
}

@media screen and (max-width: 1000px){
    .row{
        grid-template-columns: repeat(1, 100%);
    }
  }

  
@media screen and (max-width: 500px){
    .video{
        width: 350px;
        height: auto;
    }
  }

